In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
one_hot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = one_hot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler_reg=StandardScaler()
X_train=scaler_reg.fit_transform(X_train)
X_test=scaler_reg.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('one_hot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geo, file)

with open('scaler_reg.pkl', 'wb') as file:
    pickle.dump(scaler_reg, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\vulla\Downloads\ANN\DL_ANN\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [ ]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
    #default is linear activation function
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\vulla\Downloads\ANN\DL_ANN\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\vulla\Downloads\ANN\DL_ANN\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\vulla\Downloads\ANN\DL_ANN\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\vulla\Downloads\ANN\DL_ANN\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 7ms/step - loss: 100371.9375 - mae: 100371.9375 - val_loss: 98496.2188 - val_mae: 98496.2188
Epoch 2/100
250/250 [==============================] - 2s 6ms/step - loss: 99551.8281 - mae: 99551.8281 - val_loss: 96843.0156 - val_mae: 96843.0156
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 96679.3047 - mae: 96679.3047 - val_loss: 92638.7500 - val_mae: 92638.7500
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 91072.0703 - mae: 91072.0703 - val_loss: 85735.2891 - val_mae: 85735.2891
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 82959.7031 - mae: 82959.7031 - val_loss: 76836.2656 - val_mae: 76836.2656
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 73582.8906 - mae: 73582.8906 - val_loss: 67905.2969 - val_mae: 67905.2969
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 64871.6562 - mae: 64871.6562 - val_loss: 60449.0664 - val_mae: 60449.0664
Epoch 8/100
250/250 [==============================] - 2s 6ms/step - loss: 58160.3320 - mae: 58160.3320 - val_loss: 55372.0586 - val_mae: 55372.0586
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 54011.1328 - mae: 54011.1328 - val_loss: 52625.9453 - val_mae: 52625.9453
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 51884.9258 - mae: 51884.9258 - val_loss: 51391.8164 - val_mae: 51391.8164
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51006.2227 - mae: 51006.2227 - val_loss: 50978.6445 - val_mae: 50978.6445
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50625.0703 - mae: 50625.0703 - val_loss: 50818.7148 - val_mae: 50818.7148
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50415.7930 - mae: 50415.7930 - val_loss: 50734.5312 - val_mae: 50734.5312
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50294.7031 - mae: 50294.7031 - val_loss: 50675.4336 - val_mae: 50675.4336
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50212.2539 - mae: 50212.2539 - val_loss: 50622.8555 - val_mae: 50622.8555
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 50141.8594 - mae: 50141.8594 - val_loss: 50579.5625 - val_mae: 50579.5625
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50087.2227 - mae: 50087.2227 - val_loss: 50543.0547 - val_mae: 50543.0547
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50032.1641 - mae: 50032.1641 - val_loss: 50503.4414 - val_mae: 50503.4414
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49988.9961 - mae: 49988.9961 - val_loss: 50476.6094 - val_mae: 50476.6094
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49953.8711 - mae: 49953.8711 - val_loss: 50456.8867 - val_mae: 50456.8867
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49920.8633 - mae: 49920.8633 - val_loss: 50445.6367 - val_mae: 50445.6367
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49892.1289 - mae: 49892.1289 - val_loss: 50414.9961 - val_mae: 50414.9961
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49862.3438 - mae: 49862.3438 - val_loss: 50398.9961 - val_mae: 50398.9961
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49835.9766 - mae: 49835.9766 - val_loss: 50379.5195 - val_mae: 50379.5195
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49813.2734 - mae: 49813.2734 - val_loss: 50370.4258 - val_mae: 50370.4258
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49790.2695 - mae: 49790.2695 - val_loss: 50362.7070 - val_mae: 50362.7070
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49768.9805 - mae: 49768.9805 - val_loss: 50353.8398 - val_mae: 50353.8398
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49752.6016 - mae: 49752.6016 - val_loss: 50334.9531 - val_mae: 50334.9531
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49732.6641 - mae: 49732.6641 - val_loss: 50330.0273 - val_mae: 50330.0273
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49714.7930 - mae: 49714.7930 - val_loss: 50325.2617 - val_mae: 50325.2617
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49698.8320 - mae: 49698.8320 - val_loss: 50332.5430 - val_mae: 50332.5430
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49683.4883 - mae: 49683.4883 - val_loss: 50313.4570 - val_mae: 50313.4570
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49665.6016 - mae: 49665.6016 - val_loss: 50308.9414 - val_mae: 50308.9414
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49650.4336 - mae: 49650.4336 - val_loss: 50305.2266 - val_mae: 50305.2266
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49637.9023 - mae: 49637.9023 - val_loss: 50300.7617 - val_mae: 50300.7617
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49622.8477 - mae: 49622.8477 - val_loss: 50299.5625 - val_mae: 50299.5625
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49611.7734 - mae: 49611.7734 - val_loss: 50286.9414 - val_mae: 50286.9414
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49600.6992 - mae: 49600.6992 - val_loss: 50280.3984 - val_mae: 50280.3984
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49586.1250 - mae: 49586.1250 - val_loss: 50280.9492 - val_mae: 50280.9492
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49579.8008 - mae: 49579.8008 - val_loss: 50277.5234 - val_mae: 50277.5234
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49565.1289 - mae: 49565.1289 - val_loss: 50278.0117 - val_mae: 50278.0117
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49556.2188 - mae: 49556.2188 - val_loss: 50256.8242 - val_mae: 50256.8242
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49550.3984 - mae: 49550.3984 - val_loss: 50265.3477 - val_mae: 50265.3477
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49543.0039 - mae: 49543.0039 - val_loss: 50272.6953 - val_mae: 50272.6953
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49532.8672 - mae: 49532.8672 - val_loss: 50267.0859 - val_mae: 50267.0859
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49525.4219 - mae: 49525.4219 - val_loss: 50259.4492 - val_mae: 50259.4492
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49521.0391 - mae: 49521.0391 - val_loss: 50259.4102 - val_mae: 50259.4102
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49510.5742 - mae: 49510.5742 - val_loss: 50269.9844 - val_mae: 50269.9844
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49503.7031 - mae: 49503.7031 - val_loss: 50262.2383 - val_mae: 50262.2383
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49494.4219 - mae: 49494.4219 - val_loss: 50265.8320 - val_mae: 50265.8320
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49490.0625 - mae: 49490.0625 - val_loss: 50255.9414 - val_mae: 50255.9414
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49482.6484 - mae: 49482.6484 - val_loss: 50254.5156 - val_mae: 50254.5156
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49476.6406 - mae: 49476.6406 - val_loss: 50251.9531 - val_mae: 50251.9531
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49472.4023 - mae: 49472.4023 - val_loss: 50252.3633 - val_mae: 50252.3633
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49465.9531 - mae: 49465.9531 - val_loss: 50246.9102 - val_mae: 50246.9102
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49461.6289 - mae: 49461.6289 - val_loss: 50249.7188 - val_mae: 50249.7188
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49451.2969 - mae: 49451.2969 - val_loss: 50265.2969 - val_mae: 50265.2969
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49445.2578 - mae: 49445.2578 - val_loss: 50250.3984 - val_mae: 50250.3984
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49442.1953 - mae: 49442.1953 - val_loss: 50261.5234 - val_mae: 50261.5234
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49438.6211 - mae: 49438.6211 - val_loss: 50268.1602 - val_mae: 50268.1602
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49431.4375 - mae: 49431.4375 - val_loss: 50262.8633 - val_mae: 50262.8633
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49425.3516 - mae: 49425.3516 - val_loss: 50268.6641 - val_mae: 50268.6641
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49424.9141 - mae: 49424.9141 - val_loss: 50262.9727 - val_mae: 50262.9727
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 49418.6523 - mae: 49418.6523 - val_loss: 50268.4570 - val_mae: 50268.4570
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 49411.5156 - mae: 49411.5156 - val_loss: 50250.8203 - val_mae: 50250.8203

In [17]:
%load_ext tensorboard

In [18]:
%tensorboard --logdir regressionlogs/fit

In [19]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50246.9102 - mae: 50246.9102
Test MAE : 50246.91015625

In [20]:
model.save('regression_model.h5')

c:\Users\vulla\Downloads\ANN\DL_ANN\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(